.cart-info-container {
    display: grid;
    grid-template-rows: auto;
    
}

.cart-title{
    font-size: 30px;
    font-weight: bold;
}

.cart-total{
    font-size: 20px;

}

.cart-total .to-pay{
    color: #216c8b;
    font-weight: bold;
}

.buy{
    margin: 10px;
}

